@charset "utf-8";
/* CSS Document */

body{
	font-size: 15px;
	/*background-image: url('../img/background.png');
	background-color: #ff0000;
	background-position: 10px 10px;*/
	background: #222222 url('../img/background.png') 10px 15px repeat-y fixed;
	padding-left: 110px;
	color: #bbbbbb;
}

#area1{
	background: url('../img/bluebg.png') repeat-x;
	/* The following was added during lab time */
	margin-top: 48px;
	/* end lab time edit */
}

#area2, #area4{
	background: url('../img/ghost.png') no-repeat center 23px fixed;
}

#area3{
	background: none;
}

#area3:hover{
	background: url('../img/ghost.png') no-repeat 15px 23px;
}

#nav a{
	color: #eeeeee;
	text-decoration: none;
	opacity: 0.5;
	font-size: 1.4em;
	height: 24px;
	display: inline-block;
	padding: 0 14px;
	background: url('../img/fangs.png') no-repeat center top;
}

#nav a:hover{
	color: rgba(240,240,240,0.8);
	text-decoration: underline;
	opacity: .98;
	background: url('../img/fangs.png') no-repeat center -24px;
}

/* The following was added during lab time */
#nav{
	background: rgba(34,34,34, 0.9);
	position: fixed;
	top: 0;
	left: 110px;
	width: 100%;
}

#nav a{
	-webkit-transition-property: opacity, color;
	-webkit-transition-duration: 2s, 1s;
	-moz-transition-property: opacity, color;
	-moz-transition-duration: 2s, 1s;
}

